

<div class="row">
  <div class="col-md-6">
  
    <table>
      <thead>
        <tr>
          
          <th>Title</th>
          <th>Memo</th>
          
        </tr>
      </thead>
      <tbody>
        {{#each allPosts }}
        <tr>
          <td>{{this.username}}
            <button data-id={{this.id}} class="requestbook">Post</button>
          </td>
          <td>{{this.title}}</td>
          <td>{{this.memo}}</td>
          <td>{{this.date_created}}</td>
          
        </tr>
        {{this}}
        {{/each}}
      </tbody>
    </table>


